//header
.header {
    position: relative;
    z-index: 99;
    // background: #FFF;
    // box-shadow: 0px 2px 5px RGBA(0, 0, 0, .3);
    @extend %clearfix;
    @include screen('tablet') {
        position: fixed;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0,0,0,.5);
    }
    // 虛擬底色 - navigation bg
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 2.4em;
    //     background: #F2F2F2;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     @include screen('mobile') {
    //         display: none;
    //     }
    // }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        @include box-sizing;
        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        background: #fff;
        overflow: visible;
        position: relative; // menu
        padding-top: 1.5em;
        @include gutter(100px);

        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: $primaryColor;
                width: 50%;
                height: 3px;
                top: 20px;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 28px;
                }
                &:nth-child(3) {
                    top: 36px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }

        @include screen('tablet') {
            padding-top: 0;
        }
    }
    h1 {
        float: left;
        width: 300px;
        // height: 75px;
        margin: 0;
        padding: 0;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 300px;
            max-height: 75px;
        }
        @include screen('tablet') {
            padding: 2px 60px;
            width: 100%;
            text-align: center;
            height: 60px;
            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(.8);
            }
        }
    }
    // 導覽列
    .navigation {
        @include screen('tablet') {
            display: none;
        }
        &.have_language {
            padding-right: 160px;
        }
        // @extend %clearfix;
        // overflow: hidden;
        // width: 100%;
        // margin-bottom: .5em;
        // box-sizing:border-box;
        position: absolute;
        right: 50px;
        top: 80px;
        z-index: 100;
        ul {
            float: right;
            padding: 0;
            margin: 0;
            font-size: .938em;
            list-style: none;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
        }
        li {
            float: left;
            margin: 0 .2em;
            a {
                display: inline-block;
                padding: .5em;
                text-decoration: none;
                @include aSetting_nocolor;

                background: $lightColor;
                // @include gradient(#fe6b44, $lightColor, horizontal);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                font-size: 0;

                &.sitemap{
                    background: url(../images/basic/icon_sitemap.png) 50% 50% no-repeat, #fe6b44;
                }
                &.mail{
                    background: url(../images/basic/icon_mail.png) 50% 50% no-repeat, #fe6b44;
                }
                &.login{
                    background: url(../images/basic/icon_user.png) 50% 50% no-repeat, #fe6b44;
                }
            }
        }
        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size: .75em;
        }
    }
}


//search
.search {
    // min-width: 30%;
    // max-width: 50%;
    // float: right;
    // vertical-align: middle;
    padding: 0em .3em 0em;
    // overflow: hidden;

    @extend %flex;
    justify-content: flex-end;

    @include box-sizing;
    @include screen('tablet') {
        display: none;
    }

    label {
        font-size: 0em;
        height: 0;
        padding: 0;
        margin: 0;
    }
    .form_grp {
        flex: 0 0 200px;
        margin-bottom: 0;
        // float: left;
        // margin-right: .3em;
        // width: 300px;
        height:2em;
        position: relative;
        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            box-shadow: none;
            &[type="text"] {
                margin-top: -2.1em;
                border: 0;
                border-bottom: solid 1px #222;
                border-radius: 0;
                &:focus {
                    box-shadow: 0px 0px 0px 3px $aHover;
                    outline: none;
                    border: none;
                }
            }
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 20px;
                outline: 1px solid transparent;
                border: none;
                display: block;
                opacity: .8;
                min-width: 0em !important;
                position: absolute;
                right: .2em;
                top: 8%;
                @include box-sizing;
                &:hover,
                &:focus {
                    opacity: 1;
                    box-shadow: 0px 0px 0px 2px $aHover;
                }
                &:focus {
                    outline: 1px solid $form-focus;
                }
            }
        }
    }
    .keywordHot {
        // flex-basis: calc(100% - 300px);
        // display: block;
        // vertical-align: middle;
        // margin-left: .5em;
        // padding: .1em 0 .3em;
        // clear: both;;
        margin-left: 1em;
        ul {
            display: inline-block;
            font-size: 1em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "";
                color: #999;
                float: left;
            }
            li {
                padding: 0;
                display: inline-block;
                line-height: 2.2;
                &:after{
                    content: '、';
                }

                &:last-child{
                    &:after{
                        content: '';
                    }
                }
            }
            a {
                // @include aSetting_nocolor;
                color: $secondaryColor;

            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: 1.75em .3em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        display: none;
        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            width: calc(100% - 5%);
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            float: left;
            height: 50px;
            position: relative;
            @include box-sizing();
            label {
                display: none;
            }
            input {
                width: 100%;
                margin: 0;
                padding: .75em 45px .75em 1em;
                border-radius: 2px;
                &[type="submit"] {
                    font-size: 0em;
                    width: 46px !important;
                    height: 46px;
                    padding: 0;
                    // max-width:none;
                    // min-width:none;
                    background: url(../images/basic/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block;
                    // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 0px;
                    opacity: .8;
                    // outline:1px solid red;
                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
            }
        }
        .btn_grp {
            padding: .1em 5% .1em 0;
            margin-bottom: 0;
            width: 26%;
            text-align: left;
            @include box-sizing();
            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0;
            }
        }
        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @extend %clearfix;
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}


// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('tablet') {
        background: #FFF;
    }
    .menu {
        margin-left: 0;
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }

    >.container {
        background: none;
    }
}
